@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono&display=swap");

* {
  background-color: lightsteelblue;
}

h1 {
  font-family: "Spline Sans Mono", monospace;
  text-align: center;
}

.draw-board {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  display: grid;
}

.butons {
  display: flex;
  flex: 1;
}
